<div class="file">
  <label for="text"><strong>UploadFile</strong></label
  ><br />
  <input
    type="file"
    [(ngModel)]="fileValue"
    (change)="handleFileChange($event)"
    style="display: none"
  /><br />

  <input
    type="file"
    #fileInput
    style="display: none"
    (change)="convertExcelToBase64($event)"
  /><br />

  <button color="primary" mat-raised-button (click)="fileInput.click()">
    SelectFile
  </button>
  <img src="{{ filesdata }}" alt="" />
  <button (click)="onAddEditEntity()">AddEdit</button>
  <select name="City">
    <option value="Mumbai">Mumbai</option>
    <option value="Jalgaon">Jalgaon</option>
    <option value="Dhule">Dhule</option>
    <option value="Delhi">Delhi</option>
    <option value="Pune">Pune</option>
    <option value="Nashik">Nashik</option>
  </select>
  <input type="submit" value="Submit" />
</div>
